	body {
		background-color:#FFF;
		color: white;
		background-image: url(img/Test.png);
		background-size: cover;
	}

	#table {
		background-image: Test.png;
	}

	#quade {
		background-color: #5b0081;
	}

